/* AddItem.css */
.addItemParent {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addItemTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.line {
  border: 1px solid #ccc;
}

form {
  margin-top: 20px;
}

.form-select,
input[type="file"] {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
