.shoppingCartContainer {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 87%);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.addCartContainer {
  text-align: center;
}

.addItem {
  color: black;
  font: Arial, sans-serif;
}

.line {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.cartItemsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.scrollable-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
  height: 60vh;
}

.cartCard {
  margin: 10px;
  width: 18rem;
  height: fit-content;
}
